.jumbotron{
    background-color: #f8f9fa;
}
h2{
    line-height: 2;
}
.card-body{
    box-shadow: 0 0 3px 20px rgba(0, 0, 0, 0.25);
}
.navbar-brand{
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}